\---
layout: default
title: Contact Hera
\---

.post
  .body
    %p
      Send me feedback, critiques, cake, and most importantly: fork and contribute.
      %a{ :href => 'https://github.com/connatser/Hera', :target => "_blank"} Hera